@charset"UTF-8";
.fix { position: fixed; right: 0; bottom: 0; font-size: 50px; z-index: 9999; }
/* Main (microSite) */
.micro_wrap {
   section {
      width: 100%; 
      .inner_wrap { max-width: 1600px; margin: 0 auto; }	
      h1 { color: #2E2E2E; font-size: em(40); }
      @include mobile() {
         h1 { font-size: em(54); }
      }
   }
   .sec1 {
      /* min-width: 1024px; */ padding: em(41) 0 em(42); background-color: #F8F8F8;
      .inner_wrap {
         position: relative; padding:0 em(50);
         & > img { 
            width: 100%; border: em(1) solid #EAEAEA; 
            @include borderRadius(em(14));
            @include boxSizing;
         }
      }
      .txt_wrap {
         position: absolute; top: 15%; left: 11.5%;
         & > img { width: em(140); }
         h1 { width:60%; padding: 3.2% 0 0; font-size: em(46); color:$black; line-height: em(50); font-weight: $semiBold; }
         p { width:55%; padding: 3% 0 0; font-size: em(28); line-height: em(32);}
      }
      @include tablet-b () {
         .txt_wrap {
            & > img { width: em(135); }
            h1 { padding: 2% 0 0; font-size: em(48); line-height: em(50); }
            p { padding: 2.5% 0 0; font-size: em(25); line-height: em(29);}
         }
      }
      @include tablet () {
         .txt_wrap {
            & > img { width: em(120); }
            h1 { width: 75%; padding: 1% 0 0; font-size: em(40); line-height: em(41); }
            p { padding: 2.5% 0 0; font-size: em(20); line-height: em(25);}
         }
      }
      @include mobile() {
         min-width: auto; padding: em(29) 0 em(47);
         .styler_logo { width: em(224); margin: 0 auto; }
         .inner_wrap {
            padding:em(21) em(40) 0;
            & > img { border-color: #D2D2D2; }
         }
         .txt_wrap {
            top: 18%; left: 12%;
            & > img { display: none; }
            h1 { width: 50%; padding: 0; font-size: 6.8vw; line-height: 7.4vw; }
            p { width: 65%; padding: 3% 0 0; font-size: 4.2vw; line-height: 5.3vw; }
         }
      }
   }
   .sec2 {
      position: relative; padding:em(100) 0 0;
      .top_nav { 
         width: 100%; height:em(100); text-align: center; margin: 0 auto; padding: em(27) 0; border-top: 1px solid #F0F0F0;
         position: absolute; top: 0; border-bottom: 1px solid #F0F0F0; background-color: $white;
         &.on  { position: fixed; top: 0; left: 0; z-index: 3; }
         @include boxSizing;
         ul { display: block; margin: 0 auto; width: fit-content; @extend %clearfix; }
         li {
            float: left; margin: 0 0 0 em(10);
            &:first-of-type { margin: 0; }
            button {
               display: block; padding: em(13) em(40); border: em(1) solid #D9D9D9; font-size: em(18); 
               color: #848484; font-weight: $regular; position: relative;
               @include boxSizing;
               @include borderRadius(em(50)); 
               &.active {
                  color: #C80651; border-color: #c80651;
                  &:before { border-color: #c80651; }
               }
               &:before {
                  width: 100%; height: 100%; content: ""; display: block; position: absolute;
                  border: em(1) solid transparent; left: 0; top: 0;
                  @include boxSizing;
                  @include borderRadius(em(50)); 
               }
               &:hover { 
                  color: #C80651; border-color: #c80651;
                  &:before { border-color: #c80651; }
               }
            }       
         }
      }
      .inner_wrap {
         max-width: 1600px; margin: 0 auto; padding:0 em(50);
         h1 { padding: em(95) 0 0; text-align: center; }
         ul {
            margin: 0 auto; padding: em(70) 0 em(90); display: flex; /* gap: 1.8%; */
            @extend %clearfix; 
         }
         li {
            width:18.78%; margin:0 1.51% 0 0;
            > a { text-align: left; }
            img { width:100%; }
            div { overflow: hidden; @include borderRadius(em(15)); }
            span { font-size: em(18); font-weight: $regular; display: block; padding:em(12) 0 0; }
            strong { display: block; padding: em(3) 0 0; font-size: em(26); font-weight: $semiBold; color: #313131; }
            p { padding: em(7) 0 0; font-size: em(16); color: #4C4C4E; font-weight: $regular; line-height: em(20); }
            &.no_open {
               a { cursor: default; pointer-events: none; }
               div {                
                  position: relative; text-align: center;
                  &:before { 
                     width: 100%; height: 100%; display: block; content: "";
                     position: absolute; left: 0; top: 0; background-color: rgba(0,0,0, .8); 
                     @include boxSizing;
                  }
                  &:after {
                     content: "More Styler \A arriving shortly!"; display: block; position: absolute; top: 50%; left: 50%; color: $white;
                     z-index: 2; font-weight: $regular; font-size: em(26); line-height: em(28); text-align: left;   white-space: pre;
                     @include transform(translate(-50%,-50%));
                  }
               }
               span { color:#939393; } 
               strong { color:#939393; }
               p { color:#939393; }
            }
         }
      }
      @include tablet-b () {
         .inner_wrap {
            li { 
               width: 23.12%; margin:0 2.49% 0 0; 
               span { font-size: em(24); }
               strong { font-size: em(32); }
               p { padding:em(9) 0 0; font-size: em(21); line-height: em(25); }
               &.no_open {
                  div { 
                     &:after {
                        font-size: em(30); line-height: em(33);
                     }
                  }
               }
            }
         }
      }
      @include tablet () {
         .inner_wrap {
            li { width: 31.4685%; margin:0 2.7972% 0 0; }
         }
      }
      @include mobile() {
         .top_nav { 
            padding: em(20) em(40);
            ul { width: 100%; }
            li {
               margin: 0 0 0 1%; 
               &:nth-of-type(1) { width:33.86%; }
               &:nth-of-type(2) { width:25.14%; }
               &:nth-of-type(3) { width:11.91%; }
               &:nth-of-type(4) { width:26.01%; }
               button { 
                  width: 100%; padding: em(8) 0 em(6); font-size: 3.4vw; line-height: em(40); border: em(2) solid #D9D9D9;
                  font-weight: $semiBold;
                  @include boxSizing;
                  &:before { border: em(3) solid transparent; left: 0; top: 0; }
               }
            }
         }
         .inner_wrap {
            padding:0 em(40);
            h1 { padding: em(83) 0 0; }
            ul { 
               flex-wrap: wrap; justify-content: space-between; padding: em(67) 0 0; 
               &:after { display: none; }
            }
            li {
               width: 47.5%; margin:0;
               span { font-size: em(30); padding:em(20) 0 0; }
               strong { padding: em(7) 0 0; font-size: em(40); }
               p { padding: em(10) 0 em(50); font-size: em(32); line-height: em(38); }
               &.no_open {
                  div { 
                     &:after { font-size: em(38); line-height: em(42); }
                  }
               }
            }
         }
      }
   }
   .sec3 {
      .inner_wrap { max-width: 1600px; margin: 0 auto; }
      .about_elm {
         background-color: #F9F9F9; text-align: center;
         h1 { padding:em(95) 0 0; }
         .sb_txt { 
            padding: em(27) 0 0; font-size: em(24); line-height: em(28); font-weight: $regular;
            strong { font-weight: $semiBold; }
         }
         ul { padding: em(50) 0 em(100); display: inline-block; margin: 0 auto; @extend %clearfix; }
         li { 
            width: em(180); height:em(160); float: left;  padding:em(24) 0 em(20); border-left: 1px solid #F0F0F0;
            @include boxSizing;
            &:first-of-type { border-left:0; }
            & > div { height: em(85); display: flex; align-items: center; justify-content: center; }
            p { padding:em(16) 0 0; font-size: em(18); font-weight: $bold; color:#4C4C4E; }
            .bedding {img { width: em(73); }}
            .dress {img { width: em(74); }}
            .cotton_toy {img { width: em(73); }}
            .coat {img { width: em(64); }}
            .leather {img { width: em(63); }}
            .padding {img { width: em(62); }}
         }
      }
      .video_cont {
         padding: em(60) 0; background-color: $white; position: relative;
         > div { 
            width:71.56%; margin: 0 auto; 
            p { width:70%; padding:em(15) 0 0; font-size: em(28); font-weight: $semiBold; color:#313131; }
         }
         .video_wrap {
            overflow: hidden;
            @include borderRadius(em(14));
            img { width:100%; }
            iframe { 
               width: 100%; height: 100%; position: absolute; left: 0; top: 0; overflow: hidden; 
               @include borderRadius(em(14)); 
            }
            .img_wrap  { @include borderRadius(em(14)); }
         }
         .sb_video {
            width: 77.81%; text-align: center; margin: em(45) auto 0; overflow: hidden; position: relative;
            &.more_add {                
               .more_video_btn {
                  button {
                     img { @include transform(rotate(0deg)) }
                  }
               }
            }
            ul { padding: 0 0 em(80); display: inline-block; @extend %clearfix; }
            li { 
               width: 24.09%; padding:0 0 em(30); float: left; margin: 0 0 0 1.20%; text-align: left;
               &:nth-of-type(4n+1) { margin:0; }
               button { width:100%; }
               p {
                  width: 100%; height: em(70); padding: em(15) 0 0; font-size: em(28); line-height: em(32);
                  color: #939393; font-weight: $semiBold; text-align: left; overflow: hidden;
                   text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
               }
               img { width:100%; }
               div { overflow: hidden; @include borderRadius(em(12)); }
               &.no_open {
                  button { cursor: default; }
                  div {
                     position: relative; 
                     &:before { 
                        width: 100%; height: 100%; display: block; content: "";
                        position: absolute; left: 0; top: 0; background-color: rgba(0,0,0, .8); 
                        @include boxSizing;
                     }
                     &:after {
                        content: "More Styler \A arriving shortly!"; display: block; position: absolute; top: 50%; left: 50%; color: $white;
                        z-index: 2; font-weight: $regular; font-size: em(26); line-height: em(28); text-align: left;   white-space: pre;
                        @include transform(translate(-50%,-50%));
                     }
                  }
               }
            }
         }
         .more_video_btn {
            width: 100%; position: absolute; text-align: center; bottom:0; background-color:$white; z-index: 2;
            button { 
               border: em(4) solid #C80651; padding: em(25) em(85) em(21) em(85); display: inline-block; 
               font-size: em(26); font-weight: $semiBold; color: #C80651; position: relative;
               @include boxSizing;
               @include borderRadius(em(100));
               & > span {
                  width: em(30); height: em(30); display: inline-block; margin:0 0 0 em(10);
                  position: relative; top:em(-1);
                  img { 
                     width: 100%;  @include transform(rotate(180deg))
                  }
               }
            }
         }
      }
      @include tablet() {
         .about_elm {
            ul {
               width:em(550); padding: em(50) 0 em(100); display: flex; flex-wrap: wrap; justify-content: space-between;  
               &:after { display: none; }
            }
            li { 
               border-left: 0; float: initial; box-sizing: content-box;
               &:nth-of-type(n+4) { padding: 5% 0 0; }
            }
         }
         .video_cont {
            .sb_video {
               width: 77.81%; 
               li { 
                  width: 31.87%; padding:0 0 em(20); margin: 0 0 0 2.18%;
                  &:nth-of-type(4n+1) { margin:0 0 0 2.18%; }
                  &:nth-of-type(3n+1) { margin:0; }
               }
            }
         }
      }
      @include mobile() {
         .about_elm {
            h1 { padding:em(83) 0 0; }
            .sb_txt { 
               width:85%; margin:0 auto; padding:em(48) 0 0;
               font-size: em(40); line-height: em(48); 
            }
            ul { width: 72.39%; }
            li { 
               & > div { height: em(100); }
               p { font-size: em(30); padding:em(13) 0 0; }
               .bedding {img { width: em(83); }}
               .dress {img { width: em(84); }}
               .cotton_toy {img { width: em(83); }}
               .coat {img { width: em(74); }}
               .leather {img { width: em(73); }}
               .padding {img { width: em(72); }}
            }
         }
         .video_cont {
            padding:em(80) em(40); 
            & > div {
               width: 100%;
               p { width:100%; font-size: em(40);}
            }
            .sb_video {
               width: 100%; 
               ul { width: 100%; padding:0 0 em(150); }
               li { 
                  width: 47.96%; padding:0 0 em(35); margin: 0 0 0 3.92%;
                  &:nth-of-type(4n+1) { margin:0 0 0 3.92%; }
                  &:nth-of-type(3n+1) { margin:0 0 0 3.92%; }
                  &:nth-of-type(2n+1) { margin:0; }
                  p { height:em(80); padding: em(15) 0 0; font-size: em(40); text-align: left; line-height: em(42);}
                  button { width:100%; display: block; }
                  &.no_open {
                     div {
                        &:after { font-size: em(38); line-height: em(42); }
                     }
                  }
               }
            }
            .more_video_btn {
               button { 
                  width: 100%; padding: em(35) 0 em(29) 0; font-size: em(40);
                  & > span { width: em(40); height: em(40); margin: 0 0 0 em(10); position: relative; top:em(-4);}
               }
            }
         }
      }
   }
   .sec4 {
      background-color: #EDEDED;
      .inner_wrap {
         text-align: center; padding:0 em(50) em(120);
         h1 { padding:em(90) 0 0; }
         > div { padding:em(66) 0 0; }
         dl {
            overflow: hidden; border: em(2) solid #E6E6E6; background-color: $white; text-align: left; margin: em(10) 0 0;
            &:first-of-type { margin:0; }
            @include boxSizing;
            @include borderRadius(em(14));
            &.on {
               dt {
                  &:after { @include transform(rotate(0)); }
               }
            }
         }
         dt {
            padding: 0 0 0 em(133); position: relative;
            &:after {
               width: em(24); height: em(15); position: absolute; right: em(60); top: 45%; content: ""; display: block;
               background: url(./../../images/main/question_icon.png) 50% 50% no-repeat; background-size: cover;
               @include transition(all, .25s);
               @include transform(rotate(-180deg));
            }
            &:before { position: absolute; display: block; content: "Q"; left: em(60); top: em(30); font-size: em(40); font-weight: $bold; }
            button { width: 100%; text-align: left; padding: em(35) em(300) em(30) 0; display: block; }
            p { font-size: em(27); font-weight: $regular; line-height: em(35); }
         }
         dd {
            height: 0; padding: 0 0 0 em(133); position: relative;
            &:before { position: absolute; display: block; content: "A"; left: em(60); color:#C80651; top: em(38); font-size: em(40); font-weight: $bold; }
            &:after { content: ""; position: absolute; display: block; width: 100%; top: 0; left: 0; height: 1px; background-color: #E6E6E6; }
            p { 
               padding:em(43) em(300) em(43) 0;
               font-size: em(23); font-weight: $regular; color: #939393; line-height: em(28); 
            }
         }
      }
      @include mobile() {
         .inner_wrap {
            padding:0 em(40) em(88);
            h1 { padding:em(82) 0 0; }
            > div { padding:em(60) 0 0; }
            dl { margin: em(30) 0 0; }
            dt {
               padding: 0 0 0 em(102);
               &:after {
                  width: em(33); height: em(20); right: em(40);
                  background: url(./../../images/main/question_icon_m.png) 50% 50% no-repeat; 
                  background-size: cover;
               }
               &:before { left: em(35); top: em(58); font-size: em(54); }
               button { padding: em(60) em(100) em(60) 0; color:$black; }
               p { font-size: em(44); line-height: em(50); }
            }
            dd {
               padding:0 0 0 em(102); 
               &:before { left: em(35); top: em(60); font-size: em(54); }
               p { padding: em(60) em(75) em(60) 0; width: auto; font-size: em(44); line-height: em(55); }
            }
         }
      }
   }
   .sec5 {
      background-color: #F6F6F6;
      .inner_wrap {
         padding:em(94) 0 em(105); text-align: center; 
         .swiper { padding: em(70) 0; }
         .swiper-slide {
            width:20.7608%; margin:0 1.25% 0 0;
            padding: em(20) em(31) em(25) em(35); background-color: $white; text-align: left;
            @include borderRadius(em(14));
            @include boxSizing;
            .item_img {
               text-align: center;
               img { width: 100%; }
            }
            h2 { height:em(90); padding: em(10) 0 0; font-size: em(24); font-weight: $semiBold; line-height: em(30); }
            .evaluation { padding: em(5) 0 0; }
            .star_icon {
               display: inline-block; 
               @extend %clearfix;
               em {
                  width: em(12); height: em(12); display: block; float: left; position: relative; margin: 0 em(4) 0 0;
                  background: url(./../../images/main/star_icon_default.png) 0 50% repeat; background-size: cover;
                  &.on {
                     &:after {
                        content: "";
                        width:em(12); height: em(12); display: block; position: absolute; top: 0; left: 0; z-index: 1;
                        background: url(./../../images/main/star_icon_color.png) 0 50% repeat; background-size: cover;
                     }
                  }          
               }
            }
            .num_elm { position: relative; top:em(-2); color: #939393; font-size: em(14); font-weight: $semiBold; }
            strong { display: block; padding: em(10) 0 0; font-size: em(28); color: #535353; }
            p {
               padding: em(13) 0 0;
               span { 
                  display: block; padding: em(7) 0; font-size: em(18); font-weight: $regular; color: #C0C0C0; border-top: em(1) solid #EAEAEA;
                  &:first-of-type { border-top:0; }
               }
            }
         }
         .lineup_bar { 
            width: 77.81%; height: em(10);
            left: 50%; @include translate(-50%,0);
            background-color: #E3E3E3; 
            .swiper-scrollbar-drag { background-color: #C80651; }
         }
      }
      @include tablet-b () {         
         .inner_wrap {
            .swiper-slide { width: 26.5%; margin:0 1.768% 0 0; }
         }
      }
      @include tablet () {
         .inner_wrap {
            .swiper-slide { width: 37.145%; margin:0 2.139% 0 0; }
         }
      }
      @include mobile() {
         .inner_wrap {
            padding:em(85) 0 em(110) em(40); 
            .swiper { padding: em(70) 0; }
            .swiper-slide {
               width:61.367%; margin:0 3.021% 0 0;
               padding: em(20) em(30) em(5);
               h2 { height:em(110); padding: em(20) 0 0; font-size: em(30); line-height: em(35); }
               .num_elm { font-size: em(28); top:em(1); }
               .evaluation { padding: em(12) 0 0; }
               .star_icon {
                  em {
                     width: em(20); height: em(19); margin: 0 em(8) 0 0;
                     background: url(./../../images/main/star_icon_default_m.png) 0 50% repeat; background-size: cover;
                     &.on {
                        &:after {
                           width:em(20); height: em(19); 
                           background: url(./../../images/main/star_icon_color_m.png) 0 50% repeat; background-size: cover;
                        }
                     }          
                  }
               }
               strong {  padding: em(20) 0 0; font-size: em(38); }
               p {
                  padding: em(20) 0 0;
               span { padding: em(18) 0; font-size: em(28); border-top: em(2) solid #EAEAEA; }
               }
            }
            .lineup_bar { width: 95%; height: em(6); left: 0; @include translate(0,0); }
         }
      }
   }
}

/* Article (common) */
.depth_wrap {
   .group {
      max-width: 1400px; margin: 0 auto; padding:0 em(50); 
      .desc_txt {
         padding:em(65) 0 0;
         strong { font-size: em(34); font-weight: $semiBold; }
         p { padding: em(33) 0 0; color:#535353; font-size: em(28); font-weight: $regular; line-height: em(34); }
      }
      .sequence {
         padding:em(30) 0 0;
         li { 
            position: relative; padding: em(3) 0 em(3) em(45); font-size: em(28); color: #535353; font-weight: $semiBold; line-height: em(36); 
            &:before {
               width: em(6); height: em(6); content: ""; display: block; position: absolute; 
               left: em(20); top: em(20); background-color: #535353;
               @include borderRadius(em(50));
            }
         }
      }
      .txt_wrap {
         > p { font-size: em(28); line-height: em(34); color:#535353; }
      }
      @include mobile() {
         padding:0 em(40); 
         .desc_txt {
            padding:em(157) em(32) 0;
            strong { font-size: em(48); font-weight: $semiBold; line-height: em(60); }
            p { padding: em(40) 0 0; font-size: em(36); line-height: em(50); }
         }
         .sequence {
            width: 80%; margin: 0 auto; padding: em(65) 0 0;
            li { 
               padding: em(7) 0 em(7) em(20); font-size: em(38); font-weight: $regular; line-height: em(45);
               &:before { 
                  width: em(8); height: em(8); left: 0; top: em(27);
                  @include transform(translate(0,0));
               }
            }
         }
         .txt_wrap {
            > p { font-size: em(36); line-height: em(50);}
         }
      }
   }
   .sec1 {
      padding: em(58) em(50) 0; position: relative; display: flex; flex-wrap: wrap; justify-content: space-between;      
      .txt_wrap {
         strong { display: block; font-size: em(60); font-weight: $semiBold; line-height: em(74); }
         p { font-size: em(28); line-height: em(34); color: #535353; padding: em(35) 0 0; font-weight: $regular; }
      }      
      @include mobile() {
         padding: em(55) 0 0;          
         .txt_wrap {
            strong { position: absolute; top: em(55); left: em(75); font-size: em(68); line-height: em(83); }
            p { font-size: em(38); line-height: em(50); padding: em(65) 0 0; }
         }
      }
   }
   .sec4 {
      position: relative; z-index: 1;
      @include mobile() {
         &:after {
            width: 100%; height: em(80); content: ""; display: block; position: absolute; bottom: 0; left: 0;
            background-color: $white; box-shadow: 0 em(20) em(15) rgba(26, 26, 26, 0.15); z-index: -1; bottom: em(0);
            @include borderRadius(0 0 em(40) em(40));
         }
      }
   }
   /* Slide */
   .slide_wrap {
      .inner_wrap { max-width: 1410px; padding:0 em(50); margin:0 auto; }
      .article_line { padding: em(60) 0; }
      .swiper-slide {
         width:23.40425%; margin: 0 2.1276% 0 0;
         @extend %clearfix;
         > a { width:100%; align-items: flex-end; display: flex; }
         > div { float:left; } 
         .item_img {
            width: 23%; position: relative; z-index: 2; left: em(5);
            img { width:100%; }
         }
         .txt_wrap {
            width: 74%; padding: em(30) em(20) em(30) em(30); text-align: left; background-color: $white;
            @include boxSizing;
            @include borderRadius(em(14));
            .badge {
               @extend %clearfix;
               span { 
                  padding: em(2) em(8); display: block; float: left; font-size: em(16); margin: 0 0 0 em(7);
                  @include borderRadius(em(4));
                  &:nth-of-type(1) { background-color: #343434; color: $white; margin: 0; font-weight: $regular; }
                  &:nth-of-type(2) { background-color: #eee; color: #414141; font-weight: $semiBold; }
               }
            }
            .product_tit { height:em(77); display: block; padding:em(15) 0 0; font-size: em(20); font-weight: $semiBold; line-height: em(23); color:$black; overflow: hidden; }
            .evaluation { padding: em(2) 0 0; }
            .num_elm { color: #939393; font-size: em(14); font-weight: $semiBold;  position: relative; top:em(-2);}
            .star_icon {
               display: inline-block; 
               @extend %clearfix;
               em {
                  width: em(12); height: em(12); display: block; float: left; position: relative; margin: 0 em(4) 0 0;
                  background: url(./../../images/main/star_icon_default.png) 0 50% repeat; background-size: cover;
                  &.on {
                     &:after {
                        content: "";
                        width:em(12); height: em(12); display: block; position: absolute; top: 0; left: 0; z-index: 1;
                        background: url(./../../images/main/star_icon_color.png) 0 50% repeat; background-size: cover;
                     }
                  }          
               }
            }
            .emphasis { display: block; padding:em(15) 0 0; font-size: em(16); font-weight: $regular; color:#C80651; }
            .money { padding:em(4) 0 em(5); display: block; font-size: em(28); color: #535353; }
            .discount_money { 
               position: relative; font-size: em(20); color: #cacaca; font-weight: $bold;
               &:after {
                  width: 100%; height: 1px; content: ""; display: block; position: absolute; top: 50%; left: 0; background-color: #cacaca;
                  @include transform(translate(0,-50%));
               }
            }
         }                                                                    
      }
      .btn_wrap {
         width:fit-content; margin:0 auto; padding:0 0 em(60);
         @extend %clearfix;
         button { 
            width: em(340); float: left; display: block; padding: em(21) 0 em(23); border: em(4) solid #C80651; 
            font-size: em(30); font-weight: $semiBold; color: #C80651; text-align: center; margin: 0 0 0 em(13);
            box-shadow: em(1) em(10) em(15) rgba(175, 4, 69, 0.36);
            @include boxSizing;
            @include borderRadius(em(100));
            @include transition(all, .2s);
            &:nth-of-type(1) { 
               margin:0; background-color: $white; 
               &:hover { background-color: #C80651; color: $white; }
            }
            &:nth-of-type(2) { 
               background-color: #C80651; color:$white; 
               &:hover { background-color: #a70040; border-color:#a70040; }
            }
         }
      }
      @include tablet-b () {
         .swiper-slide {
            .item_img { width: 23%; }
            .txt_wrap { width: 74%; padding: em(50) em(20) em(50) em(40); }
         }
      }
      @include tablet () {
         .swiper-slide {
            .item_img { width: 23%; }
            .txt_wrap { 
               width: 77%; padding: em(50) em(20) em(50) em(40); 
               .badge {
                  span { 
                     padding: em(4) em(20) em(1);  font-size: em(28); margin: 0 0 0 em(10);
                     @include borderRadius(em(8));
                     &:nth-of-type(1) { padding: em(4) em(12) em(1); }
                  }
               }
               .product_tit { padding:em(25) 0 0; font-size: em(30); font-weight: $semiBold; line-height: em(40);}
               .evaluation { padding: em(20) 0 0; }
               .num_elm { font-size: em(28); }
               .star_icon {
                  em {
                     width:em(28); height: em(24); 
                     background: url(./../../images/main/star_icon_default_m2.png) 0 50% repeat; background-size: cover;
                     &.on {
                        &:after {
                           width:em(28); height: em(24); 
                           background: url(./../../images/main/star_icon_color_m2.png) 0 50% repeat; background-size: cover;
                        }
                     }          
                  }
               }
               .emphasis { padding: em(20) 0 0; font-size: em(23); }
               .money { padding: em(6) 0 em(10); font-size: em(45); }
               .discount_money { font-size: em(25); }
            }
         }
      }
      @include mobile() {         
         .inner_wrap { padding:0 em(50); }
         .article_line { padding: em(150) 0 em(108); }
         .swiper-slide {
            .txt_wrap {
               @include borderRadius(em(80));
               padding: em(50) em(30) em(30) em(50);
               .badge {
                  span {                      
                     padding: em(8) em(20) em(2);  font-size: em(28); margin: 0 0 0 em(10);
                     @include borderRadius(em(8));
                     &:nth-of-type(1) { padding: em(8) em(12) em(2); }
                  }
               }
               .product_tit { height:em(120); font-size: em(34); }
               .emphasis { padding: em(30) 0 0; font-size: em(26); }
               .money { padding: em(13) 0 em(10); font-size: em(48); }
               .discount_money { font-size: em(28); }
            }
         }
         .btn_wrap {
            width:63.02%; margin:0 auto; padding:0 0 em(90);
            button { 
               width: 100%; float: initial; padding: em(40) 0 em(30); margin: 0; font-weight: $regular; 
               font-size: em(40); margin: em(30) 0 0;
            }
         }
      }
   }
}

/* Article (dryCleaning) */
.dryCleaning_wrap {
   .sec1 {      
      .txt_wrap { width: 59%; }
      .img_wrap { 
         width: 38%; padding:em(30) 0 0;
         img { width:100%; }
      }
      @include mobile() {         
         .txt_wrap {
            width:100%; order:2; padding:0 em(72);            
         }
         .img_wrap { width: 100%; order: 1; padding: 45% 0 0 em(62); }
         .desc_txt { padding: em(157) em(72) 0; order: 3; }
      }
   }
   .sec2 {
      display: flex; flex-wrap:wrap; justify-content: space-between;
      .txt_wrap {
         width: 69.28%; padding: em(35) 0 0;
         p { 
            padding: em(38) 0 0;
            &:first-of-type { padding:0; }
         }
         .sequence {
            li { padding: em(5) 0 em(5) em(45); }
         }
      }
      p { padding:em(35) 0 0; font-size: em(28); font-weight: $regular; color: #535353; line-height: em(34); }
      .under_p { width: 70%; padding:0; }
      .img_wrap {
         width: 28.35%; padding: em(110) 0 0;
         img { width:100%; }
      }
      @include mobile() {
         .desc_txt { order:2; padding:em(80) em(32) 0; }
         .txt_wrap {
            width: 100%; padding: em(60) em(32) 0; order: 3;
            p { color: $black; font-size: em(36); line-height: em(50); padding: em(60) 0 0; }
         }
         p { order:4; padding:em(65) em(32) 0; font-size: em(36); line-height: em(50); color:$black; }
         .under_p { width:100%; padding:em(65) em(32) 0; }
         .img_wrap { width: 100%; padding: em(170) 0 0; order:1; }
      }
   }
   .sec3 {
      .graf_elm {
         width:72.85%; margin:0 auto;
         @extend %clearfix;
      }
      .item {
         width: 47.94%; float: left; margin: 0 0 0 4.12%; padding:em(70) 0 0;
         &:first-of-type { margin:0; }
         span { color: #313131; font-size: em(20); line-height: em(23); display: block; }
         em { display: block; font-size: em(24); font-weight: $semiBold; padding:0 0 em(10); }
         i { font-size: em(18); }
         & > div {
            padding: em(40) 0 0; text-align: center;
            img { width:100%; }
         }
         .rate_txt { display: block; padding: 0 0 em(15) em(25); font-size: em(26); font-weight: $semiBold; color: #313131; }
         ul {
            margin:0 0 0 11%;
            @extend %clearfix;
         }
         li { 
            width: 20.5%; margin: 0 3% 0 0; padding:em(8) 0 0; float: left; font-weight: $semiBold; font-size: em(16); 
            line-height: em(18); color: #313131; 
            &:nth-of-type(1) { width:25%; margin:0 3% 0 0; }
         }
      }
      .desc_txt { 
         &.top_txt { 
            padding:em(40) 0 0; 
            // p:last-of-type { background-color: red; }
         }
      }
      .sequence { 
         padding: em(35) 0 0; 
         li { padding: em(5) 0 em(5) em(45) }
      }
      @include tablet() {
         .graf_elm { width: 90%; }
      }
      @include mobile() {
         padding: 0 em(72);
         .graf_elm { width: 100%; padding:em(81) 0 0; }
         .item {
            width: 100%; float: initial; margin: 0; 
            &:first-of-type { padding:0; }
            span { font-size: em(28); line-height: em(34); }
            em { font-size: em(40); padding:0 0 em(8); }
            i { font-size: em(24); }
            & > div { padding: em(38) 0 0; }
            .rate_txt { padding: 0 0 em(5); font-size: em(34); line-height: em(36); }
            ul { 
               margin: 0 0 0 7%; 
            }
            li { 
               width: 21.5%; margin: 0 1.5% 0 0; padding: em(10) 0 0; font-size: em(24); line-height: em(26); 
               &:nth-of-type(1) { width:30%; margin:0 1% 0 0; }
            }
         }
         .desc_txt { 
            padding:em(160) 0 0; 
            &.top_txt { padding:em(80) 0 0; }
         }
         .sequence {
            padding: em(60) 0 0;
            li { 
               line-height: em(55); margin:em(10) 0 0;
               &:first-of-type { margin:0; }
               &:before { top: em(30); }
            }
         }
      }
   }
   .sec4 {
      .banner_elm {
         width: 74.28%; margin: 0 auto; padding: em(40) 0 0;
         @extend %clearfix;
      }
      .item {
         width: 49.13%; float: left; margin: 0 0 0 1.74%; 
         &:first-of-type { margin:0; }
         img { width:100%; }
      }
      p { font-size: em(28); color:#535353; line-height: em(33); }
      .txt_wrap {
         padding: em(50) 0 em(75);
         p { 
            font-weight: $regular; padding: em(40) 0 0;
            &:first-of-type { padding:0; }
         }
      }
      .center_t {
         padding: em(50) 0 0; text-align: center;
         p { padding: em(40) 0 0; font-weight: $semiBold; }
      }
      @include mobile() {
         .banner_elm {
            width: 100%; padding: em(55) em(32) 0;
            @include boxSizing;
         }
         .item { width: 100%; float: initial; margin: 0; margin: em(40) 0 0; }
         p { font-size: em(36); line-height: em(50); }
         .txt_wrap {
            padding: em(85) em(32) em(167);
            p { font-weight: $regular; }
         }
         .center_t {
            padding: em(75) 0 0;
            p { padding: em(65) 0 0; }
         }
      }
   }
   .sec5 { width: 100%; background-color: #F6F6F6; }
}

/* Article (allergies) */
.allergies_wrap {   
   .sec1 {
      .txt_wrap { width: 60.7%; }
      .img_wrap { 
         width: 38.57%; padding: em(180) 0 0; 
         > img { width:100%; } 
      }
      @include mobile() {
         .txt_wrap {
            width:100%; order:2; padding:0 em(72);            
         }
         .img_wrap { width: 100%; order: 1; padding: 45% 0 0 em(62); }
         .desc_txt { padding: em(157) em(72) 0; order: 3; }
      }
   }
   .sec2 {
      p { padding:em(30) 0 0; font-size: em(28); font-weight: $regular; color: #535353; line-height: em(34); }
      .sequence {
         padding:em(30) 0 0;
         li { padding: em(5) 0 em(5) em(65); }
      }
      @include mobile() {
         p { font-size: em(36); line-height: em(50); padding: em(60) em(32) 0; }
         .sequence {
            width:80%; padding:em(65) 0 0;
            li { font-weight: $semiBold; padding: em(7) 0 em(7) em(20); }
         }
      }
   }
   .sec3 {
      .sequence {
         padding:em(35) 0 0;
         li {     
            margin: em(3) 0 0; font-weight: $regular;
            &:before { top: em(20); }
            &:first-of-type { margin:0; }
         }
         em { font-weight: $semiBold; }
      }
      .img_wrap {
         width: fit-content; margin: 0 auto; padding: em(35) 0 0;
         div { width:em(1040); height:em(300); background-color: #FFABAB; }
      }
      @include mobile () {
         .sequence {
            width:80%;
            li {     
               line-height: em(52); padding: em(7) 0; margin: em(15) 0 0;
               &:before { top: em(30); position: static; display: inline-block; margin: 0 em(12) em(5) 0; }
            }
         }
         .img_wrap {
            width: 100%; padding: em(72) 0 0;
            div { width:100%; height:em(350); }
         }
      }
   }
   .sec4 {
      padding:0 em(50) em(70);
      .txt_wrap {
         .sequence { 
            padding:em(40) 0 0;
            li { 
               margin:em(3) 0 0; 
               &:first-of-type { margin:0; }
            }
         }
         > p { padding:em(35) 0 0; }
      }
      .img_wrap {
         width: fit-content; margin: 0 auto; padding: em(40) 0 0;
         div { width:em(1040); height:em(300); background-color: pink; }
         img { width:100%; }
      }
      > p { padding:em(55) 0 0; font-size: em(28); line-height: em(34); color:#535353;}
      @include mobile() {
         padding:0 em(40) em(160);
         .txt_wrap {
            .sequence {
               width:80%;
               li {     
                  line-height: em(52); padding: em(7) 0; margin: em(15) 0 0; font-weight: $semiBold;
                  &:before { top: em(30); position: static; display: inline-block; margin: 0 em(12) em(5) 0; }
               }
            }
            > p { font-size: em(36); line-height: em(50); padding: em(55) em(32) 0;  }
         }
         .desc_txt { padding: em(150) em(32) 0; }
         .img_wrap {
            padding:em(70) 0 0;
         }
         > p { padding:em(80) em(32) 0; font-size: em(36); line-height: em(50); }
      }
   }
   .sec5 {
      background-color: #F6F6F6;
      .article_line { padding: em(55) 0 em(60); }
      @include mobile() {
         .article_line { padding:7.5rem 0 5.4rem; }
      }
   }
}